:root {
  --main-collor: #294dfa;
  --second-collor: #f2f0ec;
  --alternative-collor: #0c0e0f;
  --font-main: "Roboto+Flex", sans-serif;
  --font-alternative: "Outfit", sans-serif;
  --fw-normal: 600;
  --fw-bold: 700;
  --fw-ekstra: 900;
  --main-light: #7a91fa; 
  --main-dark: #1d37b8; 
}

* {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--main-collor);
  z-index: 9999;
}
.div-logo {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  font-family: var(--font-alternative);
  font-weight: var(--fw-normal);
  gap: 3rem;
  margin-top: 10px;
}
.nav-list li a {
  color: var(--second-collor);
  transition: 0.5s;
}
.Navbar button {
  position: relative;
  z-index: 10000;
}
.nav-list li a.active {
  border-bottom: 2px solid var(--second-collor);
}
@media (max-width: 768px) {
  #navMenu.collapse {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .nav-list {
    flex-direction: column;

    gap: 3rem;
    padding: 10px 20px;
    margin: 0;
  }

  .nav-list li a {
    width: 100%;
  }
}
.div-logo a {
  font-family: var(--font-alternative);
  color: var(--second-collor);
  font-weight: var(--fw-normal);
  margin-left: 10px;
}

.nav-list a:hover {
  color: #0c0e0f;
}
.nav-list a:focus {
  color: #ffffff;
}
.footer-custom {
  background: url("") no-repeat center center;
  background-size: cover;  
}