:root {
  --main-collor: #294dfa;
  --second-collor: #f2f0ec;
  --alternative-collor: #0c0e0f;
  --font-main: "Roboto+Flex", sans-serif;
  --font-alternative: "Outfit", sans-serif;
  --fw-normal: 600;
  --fw-bold: 700;
  --fw-ekstra: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--main-collor);
}
.Navbar {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  padding: 10px;
   position: fixed; 
   width: 100%;
   background-color: var(--main-collor);
}
.div-logo {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  font-family: var(--font-alternative);
  font-weight: var(--fw-normal);
  gap: 3rem;
  margin-right: 45px;
}
.nav-list li a {
  color: var(--second-collor);
  transition: 0.5s;
}
.nav-list li a.active {
  border-bottom: 2px solid var(--second-collor);
}
.div-logo a {
  font-family: var(--font-alternative);
  color: var(--second-collor);
  font-weight: var(--fw-normal);
  margin-left: 10px;
}

.nav-list a:hover {
  color: #0c0e0f;
}
main {
  font-family: var(--font-alternative);
  display: flex;
  gap: 100px;

  position: relative;
  justify-content: space-around;
}
.intro-main {
  margin: 200px 0px 300px 200px;
}
.intro-main h1 {
  font-size: 100px;
}
.intro-main p {
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 10px;
}

.intro-main a {
  font-size: 20px;
  color: var(--second-collor);
  border: 2px solid var(--alternative-collor);
  border-radius: 15px;
  padding: 5px;
  margin-left: 20px;
  transition: 0.5s;
}
.intro-main a:hover {
  background-color: #0c0e0f;
}

.slides-main {
  margin-top: 140px;
  width: 520px;
  height: 300px;
  overflow: hidden;
  border: 2px solid var(--second); 
  border-radius: 10px;
  margin-right: 200px;
}
.slider-main {
  display: flex;
  width: 300%;
  animation: slide 8s linear;
  animation-iteration-count: infinite;
}
.slider-main img {
  width: 520px;
  height: 300px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(0);
  }
  34% {
    transform: translateX(-500px);
  }
  66% {
    transform: translateX(-500px);
  }
  67% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.main-artikel {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #f2f0ec;
  height: 1000px;
  font-family: var(--font-main);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-section {
  display: flex;
 flex-direction: column;
  gap: 50px;
  align-items: start;
  height: 750px;
  /*   */
  margin-top: 100px;
  position: absolute;
  margin-left: 100px;

}
.card-1, .card-2, .card-3 {
  width: 400px;
  height: 200px;
  background-image: url(../FOTO/20250904_201705.jpg);
  border-radius: 15px;
  color: var(--second-collor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: var(--fw-bold);
  background-size: cover;
  box-shadow: 0 10px 20px 0 rgba(0,  0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.intro-artikel {
  text-align: center;
  padding-top: 50px;
}