:root {
  --main-collor: #294dfa;
  --second-collor: #f2f0ec;
  --alternative-collor: #0c0e0f;
  --font: "outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--second-collor);
}
.Navbar {
  background-color: var(--main-collor);
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--alternative-collor);
  z-index: 9999;
}
.div-logo  {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  font-family: var(--font);
  gap: 3rem;
}
.nav-list li a{
  color: var(--second-collor);
  transition: 0.5s;
}
.div-logo a{
  font-family: var(--font);
  color: var(--second-collor);
  
}

.nav-list a:hover{
  background-color: #0c0e0f;
padding: 5px;
border-radius: 15px;
}
