:root {
  --main-collor: #294dfa;
  --second-collor: #f2f0ec;
  --alternative-collor: #0c0e0f;
  --font: "outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--second-collor);
}
.Navbar {
  background-color: var(--main-collor);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-logo  {

  display: flex;
}
.nav-list {
  display: flex;
  gap: 3rem;
}
.div-logo a{
  margin-bottom: 0;
  background-color: red;
  font-family: var(--font);
}
